.header{
  display: flex;
  flex-direction: row;
  background-color: rgb(23,25,27);

  & img{
    width: 200px;
  }
  & div{
    display: flex;
    width: 100%;
    gap: 10%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 20px;
    & h3:hover, :focus{
        animation: pulse 1s;
        box-shadow: 0 0 100px 10px rgb(255, 0, 0);
        
        color: #03aba8;
        cursor: pointer;
        
    }
  } 
}

body{ 
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: url('./api/Images/fondo.jpg');
  background-position: center;
  background-size: cover;
}


.itemContainer{ 
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  
  & img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    transition: transform 1s;
    overflow: hidden; 
    &:hover{
      transform: scale(1.08);
      filter: blur(1px);
    } 
  }
}

.card {
  cursor: pointer;
  & .card__top{
    position: relative;
    overflow: hidden;
    border-radius: 5%;
      & img{
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 5%;
      overflow: hidden;
      
        &:hover{      
        transition: 1.5s;      
        filter: blur(1px);                  
        }     
      }   
  }
}    
.products{
  display: grid;
  grid-template-columns: auto auto auto;
  
  gap: 5rem;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  span{
    font-size: 26px;
  }
  img{
    padding-top: 10rem;
    width: 100%;
  }
}




































@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); 
        border-radius: 10%;}
}